@model CoreWebApp.Controllers.InspectionController.CompanyPageViewModel
@{
    ViewData["Title"] = "稽查紀錄總覽";
}

<style>
#modal {
    position: fixed;          /* 固定在畫面 */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: none;            /* 使用 flex 置中 */
    justify-content: center;  /* 水平置中 */
    align-items: center;      /* 垂直置中 */

    background-color: rgba(0, 0, 0, 0.3); /* 半透明背景(可選) */
}

    #modalRec {
        position: fixed; /* 固定在畫面 */
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: none; /* 使用 flex 置中 */
        justify-content: center; /* 水平置中 */
        align-items: center; /* 垂直置中 */

        background-color: rgba(0, 0, 0, 0.3); /* 半透明背景(可選) */
    }

.modal-content1 {
        position: relative; /* 關鍵 */

        width: 530px;
        height: 400px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* 直向排列 */
    }

    /* 標題列 */
    .modal-header {
        display: flex;
        position: relative;
        width: 100%; /* 填滿 */
        background: #f0f0f0;
        padding: 12px 0;
        text-align: center; /* 文字置中 */
        font-weight: bold;
        border-bottom: 1px solid #ddd;
    }

    /* 標題文字 */
    .modal-title {
        width: 100%; /* 填滿 */
        text-align: left; /* 文字置中 */
        font-size: 16px;
    }

    /* 內容區 */
    .modal-contentb {
        width: 100%; /* 填滿 */
        height: 100%;
        flex: 1; /* ⭐ 自動撐滿剩餘空間 */

        padding: 10px;
    }
    .modal-content {
        width: 100%; /* 填滿 */
        height: 100%;
        padding: 10px;
        border: 1px solid #ccc; /* 灰色邊框 */
    }

    /* 右上角按鈕 */
    .close-btn {
        position: absolute; /* 關鍵 */
        top: 5px;
        right: 5px;
        background: transparent;
        color: black;
        border: none;
        cursor: pointer;
        width: 55px;
        height: 25px;
    }

        .close-btn:hover {
            color: red;
        }

    /* Footer */
    .modal-footerx {
        flex-direction: column;
        justify-content: flex-end; /* 右對齊 */
        align-items: flex-end;
        gap: 20px; /* 按鈕間距 */
        border-top: 1px solid #ddd;
    }

    /* 按鈕樣式 */
    .close-btnC {
        background: #ccc;
        border: none;
        cursor: pointer;
    }

    .close-btnS {

        background: #007bff;
        color: white;
        border: none;
        cursor: pointer;
    }

        .close-btnS:hover {
            background: #0056b3;
        }

</style>

<h1 class="main-title">
    <span id="ctl00_ContentPlaceHolder1_UC_NodeName_lblNodeName">@ViewData["Title"]</span>
</h1>
<div id="ctl00_ContentPlaceHolder1_Panel1">

    <h2 class="table-tit mb0 inline-block"><span>公司基本資料</span></h2>
    <div class="visible-xs mb5"></div>
    <div class="tab" id="tab-1">
        <div class="tb-single-rwd">
            <div class="td hd">業者編號</div>
            <div class="td col-6">
                <div class="form-group">
                    <label class="form-control input-sm" style="width:100%;">@Model.Company.主鍵</label>
                </div>
            </div>
            <div class="td hd">負責人</div>
            <div class="td col-6">
                <div class="form-group">
                    <label class="form-control input-sm" style="width:100%;">@Model.Company.負責人姓名</label>
                </div>
            </div>
        </div>


        <div class="tb-single-rwd">
            <div class="td hd">業者名稱(市招)</div>
            <div class="td col-6">
                <div class="form-group">
                    <label class="form-control input-sm" style="width:100%;">@Model.Company.市招名稱</label>
                </div>

            </div>
            <div class="td hd">業者名稱(商登)</div>
            <div class="td col-6">
                <div class="form-group">
                    <label class="form-control input-sm" style="width:100%;">@Model.Company.商業登記名稱</label>
                </div>
            </div>
        </div>

        <div class="tb-single-rwd">
            <div class="td hd">統一編號</div>
            <div class="td col-6">
                <div class="form-group">
                    <label class="form-control input-sm" style="width:100%;">@Model.Company.統一編號</label>
                </div>

            </div>
            <div class="td hd">登錄字號</div>
            <div class="td col-6">
                <div class="form-group">
                    <label class="form-control input-sm" style="width:100%;">@Model.Company.食品業者登錄字號</label>
                </div>
            </div>
        </div>
        
        <div class="tb-single-rwd">
            <div class="td hd">醫事機構代碼</div>
            <div class="td col-6">
                <div class="form-group">
                    <label class="form-control input-sm" style="width:100%;">@Model.Company.醫療機構代碼</label>
                </div>

            </div>
            <div class="td hd">藥事機構代碼</div>
            <div class="td col-6">
                <div class="form-group">
                    <label class="form-control input-sm" style="width:100%;">@Model.Company.藥事機構代碼</label>
                </div>
            </div>
        </div>

        <div class="tb-single-rwd">
            <div class="td hd">營業狀態</div>
            <div class="td col-6">
                <div class="form-group">
                    <label class="form-control input-sm" style="width:100%;">@Model.Company.營業狀態</label>
                </div>

            </div>
            <div class="td hd">傳真號碼</div>
            <div class="td col-6">
                <div class="form-group">
                    <label class="form-control input-sm" style="width:100%;">@Model.Company.傳真</label>
                </div>
            </div>
        </div>

        <div class="tb-single-rwd">
            <div class="td hd">電話號碼</div>
            <div class="td col-6">
                <div class="form-group">
                    <label class="form-control input-sm" style="width:100%;">@Model.Company.電話</label>
                </div>

            </div>
            <div class="td hd">行動電話</div>
            <div class="td col-6">
                <div class="form-group">
                    <label class="form-control input-sm" style="width:100%;">@Model.Company.負責人手機號碼</label>
                </div>
            </div>
        </div>

        <div class="tb-single-rwd">
            <div class="td hd">電子信箱</div>
            <div class="td col-6">
                <div class="form-group">
                    <label class="form-control input-sm" style="width:100%;">@Model.Company.負責人電子郵件</label>
                </div>

            </div>
            <div class="td hd">業者類別</div>
            <div class="td col-6">
                <div class="form-group">
                    <label class="form-control input-sm" style="width:100%;">@Model.Company.非登匯入業別</label>
                </div>
            </div>
        </div>

        <div class="tb-single-rwd">
            <div class="td hd">業者地址</div>
            <div class="td col-auto">
                <div class="form-group">
                    <label class="form-control input-sm" style="width:100%;">@Model.Company.營業地址_街道</label>
                </div>
            </div>

        </div>

    </div>


    <h2 class="table-tit mb-0 d-flex justify-content-between align-items-center">
        <span>稽查紀錄</span>
        <a href="javascript:;"
           class="btn btn-primary rounded-pill px-4"
           onclick="openModalF()">
            <i class="icon-plus"></i> 新增稽查表單
        </a>
    </h2>
    <div class="visible-xs mb5"></div>
    <!-- END pull-right -->
    <div class="data-list">

        <div class="table-responsive mt15">
            <table id="checkRecTable" class="table table-bordered table-striped tb-multi">
                <thead>
                    <tr>
                        <th>操作</th>
                        <th>稽查單號</th>
                        <th>稽查表單</th>
                        <th>稽查人員</th>
                        <th>稽查進度</th>
                        <th>稽查日期</th>
                        <th>稽查結果</th>
                        <th>執行狀態</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int ii = 1;
                    }

                    @if (Model == null || Model.CheckRecs.Count == 0)
                    {
                        <tr>
                            <td colspan="8" class="text-center text-danger">
                            </td>
                        </tr>
                    }
                    else
                    {

                        @foreach (var item in Model.CheckRecs)
                        {

                            <tr>
                                <td class="lt">
                                    <a href="javascript:void(0);" onclick=" openModalRec(); return false;" class="btn btn-icon view" title="檢視"><i class="icon-eye-2"></i></a>
                                </td>
                                <td class="lt">@item.稽查單號</td>
                                <td class="lt">
                                    @item.稽查表單
                                </td>
                                <td class="lt">@item.稽查人員</td>
                                <td>@item.稽查進度</td>
                                <td class="lt">@item.稽查日期</td>
                                <td class="lt">@item.稽查結果</td>
                                <td class="lt">@item.執行狀態</td>

                            </tr>
                            ii++;
                        }

                    }


                </tbody>
            </table>
        </div>
        <!-- table-responsive -->




</div>

    <div id="modal" style="display:none" >
        <div class="modal-content1">

            <!-- 標題列 -->
            <div class="modal-header">
                <span class="modal-title">增加表單</span>
            </div>

            <div class="modal-contentb">
                <div class="modal-content">
                    <div id="divInputAreax">
                        <div>
                            <div>

                                <input name="ctl00$ContentPlaceHolder1$id" style="width:350px" type="text" class="form-controlx" />

                                <a href="javascript:;"
                                   class="btn btn-primary rounded-pill px-4"
                                   >
                                    查詢表單
                                </a>
                                <div class="row">
                                    <div class="col-md-12">
                                   
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="Res" value="1">
                                            <label class="form-check-label">114年度肉類加工食品製造稽查專案紀錄表</label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="Res" value="2">
                                            <label class="form-check-label">GHP稽查紀錄表</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="Res" value="3">
                                            <label class="form-check-label">HACCP稽查紀錄表</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="Res" value="4">
                                            <label class="form-check-label">抽驗紀錄表</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="Res" value="5">
                                            <label class="form-check-label">健康食品製造良好作業規範標準查核表</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="Res" value="6">
                                            <label class="form-check-label">其他</label>
                                        </div>
                                        <!-- 其他依此類推 -->

                                    </div>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="close-btnS" onclick="closeModal()">
                    <i class="bi bi-check-lg me-1"></i> 確定
                </button>
                <button class="close-btnC" onclick="closeModal()">
                    <i class="bi bi-x-lg me-1"></i> 取消
                </button>
            </div>
            <button class="close-btn" onclick="closeModal()">✕</button>
        </div>

    </div>

    <div id="modalRec" style="display:none">
        <div class="modal-content1">

            <!-- 標題列 -->
            <div class="modal-header">
                <span class="modal-title">　稽查內容</span>
            </div>
            <div class="modal-contentb">
                <div class="modal-content">
                    辣椒粉有蘇丹紅-裁罰
                </div>
            </div>
            <button class="close-btn" onclick="closeModalRec()">✕</button>
        </div>

    </div>
</div>


@section Scripts {
    <script>
        function openModalx() {
            alert('');
        }
    </script>
}


